/*Browser Scrollbar Override Only For Chrome*/

::-webkit-scrollbar { width: 6px; height: 6px;}
::-webkit-scrollbar-thumb { background: #c0c0c0 }


/*Angular Ovveride*/
md-icon:focus {outline:0;}
md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 240px !important;
    width: auto !important;
    background-color: #cfd8dc;
}


/*Responsive Toolbar Height Bug Fix*/

@media (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
  .md-toolbar-tools {
     height: 64px; 
     max-height: 64px; 
  }
}

md-list-item .md-list-item-inner>div.md-primary>md-icon:not(.md-avatar-icon), 
md-list-item .md-list-item-inner>div.md-secondary>md-icon:not(.md-avatar-icon), 
md-list-item .md-list-item-inner>md-icon.md-secondary:not(.md-avatar-icon), 
md-list-item .md-list-item-inner>md-icon:first-child:not(.md-avatar-icon), 
md-list-item>div.md-primary>md-icon:not(.md-avatar-icon), 
md-list-item>div.md-secondary>md-icon:not(.md-avatar-icon), 
md-list-item>md-icon.md-secondary:not(.md-avatar-icon), 
md-list-item>md-icon:first-child:not(.md-avatar-icon) {
    margin-top: 12px;
    margin-bottom: 12px;
}

md-content { font-size: 13px; }


/*END ANGULAR OVVERRIDE*/




